{
        {$CADDY_GLOBAL_OPTIONS}

        frankenphp {
                #worker /path/to/your/worker.php
                {$FRANKENPHP_CONFIG}
        }
        log default {
		output file /app/var/log/caddy.log {
			roll_size 2MiB
			roll_keep_for 72h
		}
		format json
	}
	auto_https off
}

{$CADDY_EXTRA_CONFIG}

{$SERVER_NAME:localhost} {
        root * public/
        encode zstd br gzip

        # Uncomment the following lines to enable Mercure and Vulcain modules
        mercure {
              transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
              # Publisher JWT key
              publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY}
              # Subscriber JWT key
              subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY}
              anonymous
              # Extra directives
              {$MERCURE_EXTRA_DIRECTIVES}
        }

        {$CADDY_SERVER_EXTRA_DIRECTIVES}

        php_server
}